<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="js">
    <script src="/js/admin/course.js"></script>
</th:block>

<div layout:fragment="content">

    <main class="container" style="width: 1024px">
        <div class="row" style="margin-top: 135px; width: 1024px">
            <div>
                <div class="jumbotron py-3">
                    <h1 class="display-5" style="color: #70a9f0;">구해줘! 홈트</h1>
                    <h6 style="color: #6a6c70; margin-bottom: 0;">코로나로 힘든 지금! 헬스장이 가기 무서운 당신에게 추천합니다!</h6>
                </div>
                <!-- 메인 컨텐츠 -->
                <div sec:authorize="isAnonymous()">
                    <h2 class="d-inline">로그인 하신 뒤 이용하실 수 있습니다.</h2>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="mb-3">
                        <h2 class="d-inline">코스 생성 페이지</h2>
                    </div>
                    <div class="mb-3">
                        <select name="course" id="course" onchange="courseChange()">
                            <option th:each="course : ${courseList}" th:with="courseId = ${course.id}" th:value="${course.id}" th:text="${course.title}"></option>
                        </select>

                        <div class="border-top border-bottom">
                            <!-- {% for modal %}-->
                            <div style="overflow: auto; height: 600px;" name="tableContainer">
                                <table class="table">
                                    <thead>
                                        <th width="80px">아이디</th>
                                        <th>날짜</th>
                                        <th>순서</th>
                                        <th width="220px">제목</th>
                                        <th>세트수</th>
                                        <th>횟수</th>
                                        <th>시간 (초)</th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mt-5" style="height: 200px">
                            <div class="addRow d-flex">
                                <div style="width:80px"></div>
                                <div class="m-2">
                                    <input class="form-control" type="text" name="newDay" placeholder="날짜" style="width: 60px">
                                </div>
                                <div class="m-2">
                                    <input class="form-control" type="text" name="newOrder" placeholder="순서" style="width: 60px">
                                </div>
                                <div class="m-2">
                                    <select name="newWorkout" class="custom-select">
                                    <option th:each="workout : ${workoutList}" th:value="${workout.id}" th:text="${workout.title}"></option>
                                </select>
                                </div>
                                <div class="m-2">
                                    <input class="form-control" type="text" name="newSet" placeholder="세트수" style="width: 70px">
                                </div>
                                <div class="m-2">
                                    <input class="form-control" type="text" name="newCount" placeholder="횟수" style="width: 70px">
                                </div>
                                <div class="m-2">
                                    <input class="form-control" type="text" name="newTime" placeholder="시간 (초)" style="width: 90px">
                                </div>
                                <div class="m-2">
                                    <button class="btn btn-primary" onclick="add()">추가</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

</html>