<!-- Workout.html modal -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modal_wo">

    <!-- modal trigger btn -->
    <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" th:attr="data-target= '#modal' + ${workout.id}">자세히</button>


    <!-- Main Modal -->
    <div class="modal" th:id="modal+${workout.id}">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content p-1">
                <!-- Modal Header -->
                <div class="m-4">
                    <span style="font-size: 23px;" th:text="${workout.title}"></span>&nbsp;&nbsp;&nbsp;
<!--                    <span th:text="|${courseDetail.workoutSet}세트 ${courseDetail.workoutCount}회|"></span>-->
                    <button type="button" class="close mr-3 border border-dark rounded" style="padding-top: 5px; font-size: 25px; width: 30px; height: 30px;" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="row m-4">
                    <!-- 이미지, 설명 -->
                    <div class="col-md-6">
                        <!-- 운동 이미지 -->
                        <div class="d-flex align-items-center" style="height: 300px;">
                            <img class="mb-3 rounded-lg" th:src="${workout.imgPath}" style="max-width: 600px; max-height: 300px;">
                        </div>
                        <!-- 운동 설명 -->
                        <span class="text-muted" th:text="${workout.description}" style="white-space: pre-line">consequaturpis massa sed elementum tempus consequaturpis massa sed
                        elementum tempus consequaturpis massa sed elementum tempus</span>
                    </div>
                    <!-- 영상, 버튼 -->
                    <div class="col-md-6 d-flex flex-column justify-content-between">
                        <!-- 운동 영상 -->
                        <div class="embed-responsive embed-responsive-4by3 rounded-lg mb-3">
                            <iframe class="embed-responsive-item" th:src="${workout.youtubePath}" src="//www.youtube.com/embed/48OJbbI0DfE"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

