<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="js">
    <script src="/js/login/resetPassword.js"></script>
    <script>
        const token = '[[${token}]]'
    </script>
</th:block>

<div layout:fragment="content">
    <main class="container">

        <!-- logo href -->
        <div style="margin-top: 110px;">
            <a href="../cover.html">
                <img src="/img/logo.png" class="d-block mx-auto mb-4" width="10%">
            </a>
        </div>
        <!-- login form -->
        <div class="form-login" style="max-width: 500px">
            <div class="find-form p-5 d-flex flex-column">
                <h3>비밀번호 재설정</h3><br>
                <div class="d-flex flex-column mb-5">
                    <div class="mb-3">
                        <input type="password" class="form-control" style="font-family: Arial" name="password"
                               placeholder="비밀번호" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" style="font-family: Arial" name="password2"
                               placeholder="비밀번호 확인" required>
                    </div>
                    <button class="btn btn-primary" onclick="change()">확인</button>
                </div>
            </div>
        </div>
    </main>

</div>

</html>