<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="js">
</th:block>
<div layout:fragment="content">
    <main class="container">
        <!-- inpage title -->
        <div th:each="workoutList : ${list}">
            <div class="inPgTitle">
                <h1 class="d-inline" th:text="|${workoutList.key} 🤘|"></h1>
            </div>
            <hr>
<!--             운동 card view -->
            <div class="grid-container">
                <div class="card workout-card my-2 shadow m-2" th:each="workout : ${workoutList.value}">
                    <div class="d-flex align-items-center" style="height: 300px;">
                        <img class="card-img-top" th:src="${workout.imgPath}" style="width: 100%; max-height: 300px;">
                    </div>
                    <hr>
                    <div class="card-body mb-1">
                        <h4 class="card-title" th:text="${workout.title}" >{{ 운동이름 }}</h4>
                        <!-- 자세히 modal -->
                        <div th:replace="fragments/modal_wo :: modal_wo"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</html>